<!DOCTYPE html>
<html>
    <head>
        <title>Sesame</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyCi1sFx3VgBUUxe8r_16sbaGu46rJhnE70")
       
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/javascripts")

    </head>
    <body>
        @RenderBody()
    </body>
</html>

