<!DOCTYPE html>
<html>
    <head>
        <title>Sesame</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @Scripts.Render("http://maps.google.com/maps/api/js?libraries=places&sensor=false")
       
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/javascripts")
        
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    </head>
    <body>
        @RenderBody()
    </body>
</html>

